---
import { twMerge } from '../../tailwind/tailwind-merge.js';
import type { NavItem } from '../../index.d.ts';

// interface Props extends Omit<NavItem, 'items'> {}
interface Props extends NavItem {}

const {
  class: className,
  href: __href,
  inert,
  'aria-current': ariaCurrent,
  'aria-label': ariaLabel,
  label = ariaLabel,
  icon,
  pointer,
  base = '',
  ...props
} = Astro.props;

delete props.items;

const href = `${base}${__href}`.replace('//', '/');
const current =
  Astro.url.pathname === href || Astro.url.pathname === `${href}/`
    ? 'page'
    : Astro.url.pathname.startsWith(`${href}/`)
      ? 'step'
      : undefined;
---

<a
  class={twMerge(className)}
  {href}
  inert={(inert ?? (!pointer && current === 'page')) ? true : undefined}
  aria-label={Astro.slots.has('default') || icon ? label : undefined}
  aria-current={ariaCurrent ?? current}
  {...props}>
  <slot name='before' />
  <slot>
    {
      icon ? (
        <span
          class={twMerge('bold bg-only', icon)}
          set:html={label}
        />
      ) : (
        <Fragment set:html={label} />
      )
    }
  </slot>
  <slot name='after' />
</a>
